{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-sm-12">
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="id_title">Title</label>
                    <input class="form-control" id="id_title" maxlength="30" name="title" required="required" title="" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_contents">Contents</label>
                    <textarea class="form-control" cols="40" id="id_contents" name="contents"  required="required" rows="10" title=""></textarea></div>
                <div class="form-group">
                    <label class="control-label" for="id_image">Image</label>
                    <div class="row bootstrap3-multi-input">
                    <input class="" id="id_image" name="image" title="" type="file" />
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">저장</button>
            </form>
        </div>
    </div>
    <br />
    <br />

{% endblock %}
