{% extends "base.html" %}
{% load staticfiles %}

			{% block content %}

            <div class="container-fluid title">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2>나쁜 애들 20개</h2>
				</div>
			</div>

			 <div class="container-fluid title">
				<div class="col-md-5 col-md-offset-1 text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>
				<div class="col-sm-5  text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>

				<div class="col-md-5 col-md-offset-1 text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>
				<div class="col-sm-5  text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>

				<div class="col-md-5 col-md-offset-1 text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>
				<div class="col-sm-5  text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>
				
				<div class="col-md-5 col-md-offset-1 text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>
				<div class="col-sm-5  text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>

				<div class="col-md-5 col-md-offset-1 text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>
				<div class="col-sm-5  text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="{% static 'img/list.jpg' %}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body  media-middle">
							<h4 class="media-heading">순위 / 페이지 이름</h4>
							누적 변경횟수 N
						</div>
					</div>
				</div>

			{% endblock %}