{% extends "base.html" %}
{% load staticfiles %}

			{% block content %}

            <div class="container-fluid title">
				<div class="col-md-4 col-md-offset-4 text-center">
					<h2><i>멍에의 전당 !</i></h2>
				</div>
			</div>
		
			<div class="container">
				<div class="col-md-10 col-md-offset-1">

				{% for gallery in gallery_list %}
				<div class="col-md-6 text-center">
					<div class="media">
						<div class="media-left">
							<a href="#">
								<img src="{{ gallery.image.url }}" width="80" height="80" alt="...">
							</a>
						</div>
						<div class="media-body media-middle">
							<h3 class="media-heading">{{ gallery.title }}</h3>
							누적 변경횟수 {{ gallery.count }}
						</div>
					</div>
				</div>
				{% endfor %}
				</div>

				
				
			</div>
				
			
				
			{% endblock %}