{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="padding" >
		<div class="full col-md-12" style="background-color: #ebebeb">
                    
<!-- content -->                      
    <div class="row">
        <div class="col-md-6 col-md-offset-3">                
            {% for blog in blog_list %} 
                <div class="panel panel-default">
                <div class="panel-heading"><a href="#" class="pull-right">{{ blog.state }} </a><h4>{{ blog.feed_title }}</h4></div>
                    <div class="panel-body">
                        {{ blog.content }}
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>
</div>



{% endblock %}	
